.ScriptDetail.ui.segment {
    padding: 40px 20px;
}

.ScriptDetail .ui.header {
    font-size: 24px;
}

.ScriptDetail .logline {
    font-style: italic;
    font-size: 16px;
    margin-top: 40px;
}

.ScriptDetail .cast {
    text-align: left;
    margin-top: 20px;
}