.HomePage {
    /* header offset */
    margin-top: -60px;
}

.HomePage .hero-image {
    height: 90vh;
}

.HomePage .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.HomePage #black-box {
    background-color: #272727;
    color: #fff;
    padding: 40px 30px;
    margin: 0;
    width: 100%
}

.HomePage #black-box h3 {
    font-size: 26px;
}

.HomePage #black-box p {
    font-size: 18px;
}